<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="DataSource" value=".\SQLEXPRESS"/>
    <add key="InitialCatalog" value="SiPDV"/>
    <add key="UserId" value="SiPDV"/>
    <add key="Password" value="SiPDV"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
